.sidebar {
  height: 100%;
}
.selection-container {
  display: flex;
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  margin-top: 40px;
  list-style: none;
}

@media only screen and (min-width: 992px) {
  .selection-container {
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    border-radius: 10px;
    margin: 10px;
  }

  .steps {
    flex-direction: column;
    height: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .selection-container {
    display: grid;
    grid-row-start: 1;
    grid-row-end: -3;
  }
}
